* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

body {
    margin: 0;
}

h2 {
    font-size: 2rem;
}

h4 {
    line-height: 1;
    font-size: 1rem;
    margin: 0;
}

nav {
    height: 3rem;
    display: grid;
    align-items: center;
    background-color: rgba(191, 191, 191, 0.385);
}

.navCenter {
    width: 90vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navLinks {
    list-style-type: none;
}

.links {
    text-decoration: none;
    color: dimgray;

}

.links:hover {
    color: black;
}

li {
    display: inline;
    padding: 10px;
}

main {
    display: grid;
    place-items: center;
}

.container {
    text-align: center;
}

.container h2 {
    background: black;
    color: white;
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 2.5rem;
    letter-spacing: 2px;
}

.color {
    color: bisque;
}

.btn {
    font-size: 1.5rem;
    letter-spacing: 4px;
    text-transform: uppercase;
    border: solid black 5px;
    border-radius: 8px;
    padding: 15px 25px;
    background-color: transparent;
    display: inline-block;
    cursor: pointer;
}

.btn:hover {
    background-color: black;
    color: lightgray;
}

.btn:active {
    background-color: lightgray;
    color: black;
}